// variables
:root {
  --black: #000000;
  --gray: #4D4D4D;
  --red: #CD4631;
  --beg: #F7EDE8;
  --blue: #81ADC8;
  --blue2: #EDF3F7;
}

//--------------------------------------------------------------------------\\

html {
  scrollbar-gutter: stable;
  font-family: 'Mont';
  font-weight: 700;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

svg *[fill] {
  fill: currentColor
}

svg *[stroke] {
  stroke: currentColor
}